language: node_js
node_js:
- 10
- 12
os:
- linux
cache:
  directories:
  - node_modules
services:
- mongodb
install:
- npm i
before_script:
- npm rebuild bcrypt --update-binary
- npm run test:coveralls
jobs:
  include:
  - stage: allow_failures
    node_js: 13
    node_js: 14
  - stage: deploy
    node_js: lts/*
    deploy:
      provider: script
      cleanup: true
      script: ./scripts/deploy-travis.sh
      on:
        branch: master
