<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title></title>
</head>

<body>
  <p>Dear Mr, Mrs,</p>
  <p> You have configured to be alerted if <b>{{apiTitle}}</b> api call failed.</p>
  <pre style='background: #f5f2f0; color:#72972c; padding: 15px; border-radius: 7px;'>{{result}}</pre>
  <br />
  <p>More informations <a href="{{link}}">here</a>.</p>
  <br />
  <p>The {{appName}} Support Team.</p>
  <br/>
  <i style='color:#9b9b9b'>Please do not reply to this email, you can contact us here {{appContact}}.</i>
</body>

</html>