<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title></title>
  </head>

  <body>
    <p>Dear {{displayName}},</p>
    <p>
      You have asked to get all your data. We are happy to transfer it to you
      below, do not hesitate to contact
      <a href="mailto:{{appContact}}">us</a> if us with any questions.
    </p>
    <p>The <b>{{appName}}</b> Support Team.</p>
    <br />
    <i style="color: #9b9b9b"
      >Please do not reply to this email, you can contact us
      <a href="mailto:{{appContact}}">here</a>.</i
    >
    <br />
    <pre
      style="
        background: #f5f2f0;
        color: #72972c;
        padding: 15px;
        border-radius: 7px;
      "
    >
{{result}}</pre
    >
  </body>
</html>
