<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title></title>
  </head>

  <body>
    <p>Dear {{displayName}},</p>
    <p>You have requested to reset your password on {{appName}}</p>
    <p>Please visit this url to reset your password: {{url}}</p>
    <p>The <b>{{appName}}</b> Support Team.</p>
    <br />
    <i style="color: #9b9b9b"
      >If you didn't make this request, you can ignore this email. Please do not
      reply to this email, you can contact us
      <a href="mailto:{{appContact}}">here</a>.</i
    >
  </body>
</html>
