name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
          
    strategy:
      matrix:
        node-version: [16.x, 18.x]

    services:
        mongodb:
            image: mongo
            options: >-
              --health-cmd mongo
              --health-interval 10s
              --health-timeout 5s
              --health-retries 5
            ports:
              - 27017:27017

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Run tests
        run: |
          npm i
          npm run test:lint
          WAOS_NODE_db_uri='mongodb://mongo:27017/WaosNodeTest' npm run test
